name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      POSTGRES_DB: examportaldb
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: kien1029
      DB_HOST: postgres
      DB_PORT: 5432
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: examportaldb
          POSTGRES_USER: dev
          POSTGRES_PASSWORD: kien1029
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Migrations and Tests
      run: |
        python manage.py migrate
        python manage.py test
